-r requirements.txt
asn1crypto==0.22.0
idna==2.6
pycparser==2.18
cffi==1.10.0
cryptography==2.3.1
bcrypt==3.1.3
pyasn1==0.3.4
coverage==4.5.1
click==6.7
uncompyle6==2.11.5
xdis==3.5.5
PyNaCl==1.1.2
invoke==1.2.0
spark-parser==1.6.1
py==1.5.4
pytest==4.0.2
termcolor==1.1.0
pytest-sugar==0.9.2
pytest-cov==2.6.0
pytest-mock==1.10.0
pluggy==0.7.1
attrs==18.1.0
more-itertools==4.3.0
tox==3.6.1
virtualenv==16.0.0
mock==2.0.0
pbr==4.2.0
enum34==1.1.6
ipaddress==1.0.22
wrapt==1.10.11
lazy-object-proxy==1.3.1
atomicwrites==1.1.5
filelock==3.0.10
pyparsing==2.3.0
packaging==18.0
toml==0.10.0
