include LICENSE
include README.md
include requirements.txt
include test-requirements.txt

exclude fabfile.py
exclude conftest.py
recursive-exclude tests *
recursive-exclude pipm.egg-info *

recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig
